**/*.zip
**/*.jpg
**/*.JPG
**/*.jpeg
**/*.JPEG
**/*.gif
**/*.GIF
**/.Rhistory
.Rhistory
**/.RData
**/.RDataTmp

HW3/first_bookings_datetime_sample.txt
HW9/piccollage_accounts_bundles.csv
HW9/1b.png
HW5/casting_100x100/